<!DOCTYPE html>
<html>
  <head>
    <title>ProProKylinda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>
  <!-- Michelle sucks eggs -->
  <!--I'm just tossing and turning -->
  <!-- I hope to be a rainbow someday -->
  <body>
    <%= yield %>
  </body>
</html>
